/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .helpdesk:before {
    background-image: none; } }

.helpdesk .navbar .navbar-brand {
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px; }

.helpdesk .navbar .nav-link {
  color: #fff !important; }

/*
	Helpdesk Header Wrapper
*/
.hd-header-wrapper {
  padding: 67px 0;
  border-radius: 4px; }
  .hd-header-wrapper h4 {
    font-size: 46px;
    padding: 0 8px; }
  .hd-header-wrapper p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px; }
  .hd-header-wrapper .input-group {
    -webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
    box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1); }
  .hd-header-wrapper span.input-group-text {
    background-color: #fff;
    border-color: #fff;
    padding: 11px 8px 11px 20px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: normal !important; }
    .hd-header-wrapper span.input-group-text svg {
      font-weight: 600;
      color: #4361ee; }
  .hd-header-wrapper .form-control:focus {
    box-shadow: none;
    border-color: #4361ee;
    color: #3b3f5c;
    background: #f1f2f3; }
  .hd-header-wrapper input {
    border: none;
    border-radius: 4px;
    padding: 20px 16px;
    color: #0e1726;
    height: 100%; }

.input-group .input-group-prepend .input-group-text {
  border: 1px solid #ffffff;
  background-color: #ffffff; }

/*
	Tab Section
*/
/* 	Tab Content 	*/
.hd-tab-section .accordion .card {
  border: none;
  margin-bottom: 26px;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  border-radius: 12px !important;
  cursor: pointer; }
  .hd-tab-section .accordion .card .card-header {
    background-color: #fff;
    color: #3b3f5c;
    border-color: transparent;
    padding: 0;
    border-radius: 6px; }
    .hd-tab-section .accordion .card .card-header div > div {
      padding: 13px 21px;
      cursor: pointer;
      background: transparent;
      border: none;
      overflow: hidden;
      white-space: nowrap;
      font-size: 13px;
      color: #3b3f5c;
      font-weight: 700; }
      .hd-tab-section .accordion .card .card-header div > div svg {
        width: 17px;
        vertical-align: middle;
        margin-right: 11px;
        color: #888ea8; }
      .hd-tab-section .accordion .card .card-header div > div[aria-expanded="true"] svg {
        color: #4361ee; }
  .hd-tab-section .accordion .card:hover .card-header div > div svg {
    color: #4361ee; }
  .hd-tab-section .accordion .card:not(:last-child) .card-header div > div {
    border-bottom: none; }
  .hd-tab-section .accordion .card .card-body {
    padding: 20px 30px; }
    .hd-tab-section .accordion .card .card-body p {
      line-height: 2.2;
      font-size: 14px;
      letter-spacing: 1px;
      color: #0e1726; }

/*  Contact Content     */
.hd-contact-section {
  margin-bottom: 50px; }
  .hd-contact-section .hd-slide-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #3b3f5c; }

.carousel-item.community-help {
  padding: 13px; }

.carousel-item-content {
  max-width: 607px;
  max-width: 697px;
  margin: 0 auto;
  padding: 43px 0;
  height: 331px; }

/*  Community help     */
.hd-contact-section .community-help .media {
  padding: 13px 25px;
  border: 1px solid #bfc9d4;
  border-radius: 12px;
  background: #fff; }
  .hd-contact-section .community-help .media svg {
    width: 54px;
    height: 55px;
    margin-right: 11px;
    align-self: center;
    color: #4361ee;
    stroke-width: 1.5px; }
  .hd-contact-section .community-help .media h5 {
    color: #4361ee;
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 5px; }
  .hd-contact-section .community-help .media p {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c; }

.hd-contact-section .news-updates .media {
  padding: 13px 25px;
  border: 1px solid #bfc9d4;
  border-radius: 12px;
  background: #fff; }
  .hd-contact-section .news-updates .media svg {
    width: 54px;
    height: 55px;
    margin-right: 11px;
    color: #4361ee;
    stroke-width: 1.5px; }
  .hd-contact-section .news-updates .media h5 {
    color: #4361ee;
    font-weight: 800;
    margin-bottom: 0; }
  .hd-contact-section .news-updates .media p {
    font-size: 14px;
    font-weight: 600; }

/*  News updates     */
/*  Carousel indicators    */
.carousel-indicators {
  bottom: -34px;
  left: 0;
  right: 0;
  height: 22px; }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 1;
    background-color: #888ea8; }
    .carousel-indicators li.active {
      background-color: #4361ee; }

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
  background: #fafafa; }

.carousel-control-prev-icon {
  background-image: none;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0px 0px 19px 3px rgba(31, 45, 61, 0.1);
  padding: 9px;
  height: 33px;
  width: 33px;
  position: relative;
  border-radius: 50px; }
  .carousel-control-prev-icon svg {
    color: #4361ee;
    position: absolute;
    top: 4px;
    left: -1px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 23px; }
  .carousel-control-prev-icon:before {
    display: none; }

.carousel-control-next-icon {
  background-image: none;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0px 0px 19px 3px rgba(31, 45, 61, 0.1);
  padding: 9px;
  height: 33px;
  width: 33px;
  position: relative;
  border-radius: 50px; }
  .carousel-control-next-icon svg {
    color: #4361ee;
    position: absolute;
    top: 4px;
    left: 0;
    right: -2px;
    margin-left: auto;
    margin-right: auto;
    width: 23px; }
  .carousel-control-next-icon:before {
    display: none; }

/*
    Mini Footer Wrapper
*/
#miniFooterWrapper {
  color: #fff;
  font-size: 14px;
  border-top: solid 1px #ffffff;
  padding: 14px;
  -webkit-box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1); }
  #miniFooterWrapper .arrow {
    background-color: #4361ee;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    #miniFooterWrapper .arrow p {
      align-self: center;
      margin-bottom: 0;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px; }
  #miniFooterWrapper .copyright a {
    color: #4361ee;
    font-weight: 700;
    text-decoration: none; }

@media (max-width: 1199px) {
  .carousel-control-next, .carousel-control-prev {
    background: transparent; } }

@media (max-width: 991px) {
  .carousel-control-next, .carousel-control-prev {
    display: none; } }

@media (max-width: 767px) {
  .hd-contact-section .community-help .media {
    margin-bottom: 3px; } }

@media (max-width: 575px) {
  .carousel-item-content {
    height: auto; } }
