/* 
=====================
    Navigation Bar
=====================
*/

.header-container {
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 48px;
  background: $m-color_20;
  z-index: 1030;
}

.navbar {
  padding: 0;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid $m-color_3;
  box-shadow: 18px 20px 10.3px -23px rgba(0, 0, 0, 0.15);

  &.expand-header {
    margin: 0;
  }
}

.navbar-brand {
  width: 5.5rem;
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  margin-right: 0.0rem;
}

.navbar .border-underline {
  border-left: 1px solid #ccc;
  height: 20px;
  margin-top: 18px;
  margin-left: -5px;
  margin-right: 8px;
}

.navbar-expand-sm .navbar-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    line-height: 2.75rem;
    padding: 6.24px 9.6px;
    text-transform: initial;
    position: unset;
  }
}

.navbar {
  .toggle-sidebar, .sidebarCollapse {
    display: inline-block;
    position: relative;
    color: $m-color_12;
    padding: 8px 0;
    font-size: 23px;
    line-height: 1.9;
    margin-left: 16px;
  }

  .dropdown-menu {
    border-radius: 6px;
    border-color: $m-color_3;
  }

  .dropdown-item {
    line-height: 1.8;
    font-size: 0.96rem;
    padding: 15px 0 15px 0;
    word-wrap: normal;
  }

  .navbar-item .nav-item {
    &.dropdown.show a.nav-link span {
      color: $secondary !important;

      &.badge {
        background-color: $primary !important;
      }
    }

    .dropdown-item {
      &.active, &:active {
        background-color: transparent;
        color: #16181b;
      }
    }

    &.dropdown {
      .nav-link:hover span {
        color: $secondary !important;
      }

      .dropdown-menu {
        top: 126% !important;
        border-radius: 0;
        border-radius: 6px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
        box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
        background: #fff;

        .dropdown-item {
          border-radius: 0;
        }
      }
    }
  }

  .language-dropdown {
    margin-left: 20px;

    a {
      &.nav-link {
        position: relative;
        font-size: 24px;
        padding: 0;
      }

      &.dropdown-toggle {
        &:after {
          display: none;
        }

        img {
          width: 20px;
          height: 20px;
          margin: 17px 0px;
        }
      }
    }

    .dropdown-menu {
      min-width: 7rem;
      left: 50%;
      transform: translate(-50%, 0);
      box-shadow: none;
      top: 67px !important;
      z-index: 1070;
      border: 1px solid $m-color_3;
      padding: 0px 6px;
      border-radius: 4px;
      right: -16px !important;
    }
  }

  .navbar-item .nav-item.dropdown.language-dropdown .dropdown-menu.show {
    top: 52px !important;
  }

  .language-dropdown .dropdown-menu {
    .dropdown-item {
      &:hover {
        background: transparent !important;
      }

      &.active, &:active {
        background: transparent;
        color: #16181b;
      }
    }

    a {
      img {
        width: 20px;
        height: 20px;
        margin-right: 16px;
      }

      span {
        color: $m-color_9;
        font-weight: 500;
      }
    }

    .dropdown-item:hover span {
      color: $primary !important;
    }
  }

  .navbar-item .nav-item {
    &.dropdown {
      &.message-dropdown {
        margin-left: 20px;

        .nav-link {
          font-size: 20px;
          padding: 4.24px 0;

          &:after {
            display: none;
          }

          svg {
            color: $m-color_10;
            stroke-width: 1.5;
          }

          span.badge {
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            padding: 0;
            font-size: 10px;
            color: #fff !important;
            background: $warning;
            top: 11px;
            right: -1px;
          }
        }

        &.double-digit .nav-link span.badge {
          top: 11px;
          right: 1px;
          width: 22px;
          height: 22px;
          padding: 3px 3px 0px;
          font-size: 9px;
        }

        .dropdown-menu {
          min-width: 13rem;
          right: -15px;
          left: auto;
          padding: 10px !important;

          &.show {
            top: 52px !important;
          }

          .dropdown-item {
            padding: 8px 8px;

            &.active, &:active, &:focus, &:hover {
              background-color: transparent;
            }

            &:first-child {
              padding-top: 8px;
            }
          }

          &:after {
            right: 17px;
          }

          .dropdown-item:last-child {
            padding-bottom: 8px;
            cursor: pointer;
          }

          .media {
            margin: 0;

            .avatar {
              position: relative;
              display: inline-block;
              width: 39px;
              height: 39px;
              font-size: 14px;
              margin-right: 11px;
              font-weight: 500;

              .avatar-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: $m-color_22;
                color: #fff;
                font-weight: 600;
              }
            }

            img {
              width: 40px;
              height: 40px;
              border-radius: 12px;
              border: 3px solid rgba(224, 230, 237, 0.16);
            }

            .media-body h5.usr-name {
              font-size: 15px;
              margin-bottom: 0px;
              color: $m-color_10;
              font-weight: 500;
            }
          }

          .dropdown-item:hover .media-body h5.usr-name {
            color: $m-color_21;
          }

          .media .media-body {
            align-self: center;

            p.msg-title {
              font-size: 10px;
              font-weight: 700;
              color: $m-color_6;
              margin-bottom: 0;
              letter-spacing: 0;
            }
          }
        }
      }

      &.notification-dropdown {
        margin-left: 20px;

        .nav-link {
          font-size: 21px;
          padding: 4.24px 0;

          &:after {
            display: none;
          }

          svg {
            color: $m-color_10;
            stroke-width: 1.5;
          }

          span.badge {
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            padding: 0;
            font-size: 10px;
            color: #fff !important;
            background: $success;
            top: 11px;
            right: 2px;
          }
        }

        .dropdown-menu {
          min-width: 15rem;
          right: -8px;

          .dropdown-item {
            &:focus, &:hover {
              background-color: transparent;
              cursor: pointer;
            }

            .media {
              margin: 0;
            }

            .notification-para {
              color: $m-color_7;
              font-size: 14px;
              font-weight: 600;
              line-height: 1.5;
              white-space: normal;

              .user-name {
                color: $m-color_3;
                font-weight: 700;
              }
            }

            .notification-meta-time {
              font-size: 13px;
              font-weight: 600;
              color: $m-color_4;
            }
          }

          min-width: 15rem;
          right: -8px;
          left: auto;

          &.show {
            top: 52px !important;
          }

          .dropdown-item {
            padding: 0.625rem 1rem;
            cursor: pointer;
            border-radius: 0;
            background: transparent;
          }

          .media {
            margin: 0;
          }

          svg {
            width: 23px;
            height: 23px;
            font-weight: 600;
            color: $warning;
            fill: rgba(226, 160, 63, 0.2705882353);
            margin-right: 9px;
            align-self: center;
          }

          .media {
            &.file-upload svg {
              color: $danger;
              fill: rgba(231, 81, 90, 0.2392156863);
            }

            &.server-log svg {
              color: $m-color_14;
              fill: rgba(0, 150, 136, 0.368627451);
            }
          }

          .media-body {
            display: flex;
            justify-content: space-between;
          }

          .data-info {
            display: inline-block;
            white-space: normal;

            h6 {
              margin-bottom: 0;
              font-weight: 600;
              font-size: 14px;
              margin-right: 8px;
            }
          }

          .dropdown-item:hover .data-info h6 {
            color: $primary;
          }

          .data-info p {
            margin-bottom: 0;
            font-size: 13px;
            font-weight: 600;
            color: $m-color_6;
          }

          .icon-status {
            display: inline-block;
            white-space: normal;

            svg {
              margin: 0;

              &.feather-x {
                color: $m-color_4;
                width: 19px;
                height: 19px;
                cursor: pointer;

                &:hover {
                  color: $danger;
                }
              }

              &.feather-check {
                color: #fff;
                background: #0d9a5d;
                border-radius: 50%;
                padding: 3px;
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }

    .form-inline.search.input-focused .search-form-control:focus {
      box-shadow: none;
    }

    form.form-inline input.search-form-control {
      &::-webkit-input-placeholder, &::-ms-input-placeholder, &::-moz-placeholder {
        color: $m-color_6;
        letter-spacing: 1px;
      }
    }

    .form-inline.search {
      .search-form-control {
        opacity: 0;
        transition: opacity 200ms, right 200ms;
      }

      &.input-focused {
        .search-form-control {
          opacity: 1;
          transition: opacity 200ms, right 200ms;
        }

        position: absolute;
        bottom: 0;
        top: -1px;
        background: #fff;
        height: 103%;
        width: 100.1%;
        left: -1px;
        right: 0;
        z-index: 32;
        margin-top: 0px !important;
        display: flex;
        opacity: 1;
        transition: opacity 200ms, right 200ms;
        border: 1px solid $m-color_2;
      }

      opacity: 0;
      transition: opacity 200ms, right 200ms;
      right: -25px;
      border-radius: 6px;
    }

    &.search-animated {
      position: initial;

      svg {
        font-weight: 600;
        cursor: pointer;
        position: initial;
        transition: left 200ms;
        left: 1453px;
        color: $m-color_10;
        stroke-width: 1.5;
      }

      &.show-search svg {
        margin: 0;
        position: absolute;
        top: 18px;
        left: 12px;
        width: 22px;
        height: 22px;
        color: $dark;
        z-index: 40;
        transition: left 100ms;
      }
    }

    .form-inline.search {
      &.input-focused {
        .search-bar {
          width: 100%;
        }

        .search-form-control {
          background: transparent;
          display: block;
          padding-left: 50px;
          padding-right: 12px;
          border: none;
        }
      }

      .search-form-control {
        border: none;
        width: 100%;
        display: none;
      }
    }
  }
}

/*   Language   */

/*   Language Dropdown  */

/*Message Dropdown*/

/*Notification Dropdown*/

/* Search */

.search-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent !important;
  z-index: 814 !important;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.show {
    display: block;
    opacity: .1;
  }
}

/* User Profile Dropdown*/

.navbar .navbar-item .nav-item {
  &.user-profile-dropdown {
    margin-left: 20px;
    margin-right: 20px;

    .nav-link.user {
      padding: 4.64px 0;
      font-size: 25px;
    }
  }

  &.dropdown.user-profile-dropdown .nav-link:after {
    display: none;
  }

  &.user-profile-dropdown {
    .nav-link svg {
      color: $m-color_9;
      stroke-width: 1.5;
    }

    .dropdown-menu {
      padding: 0 10px 5px 10px !important;
      z-index: 9999;
      max-width: 13rem;
      padding: 0 11px;
      left: -140px;
      right: -21px;
      left: auto;
      min-width: 12rem;

      &:after {
        border-bottom-color: $l-dark !important;
      }

      .user-profile-section {
        padding: 16px 15px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-right: -10px;
        margin-left: -10px;
        margin-top: 0px;

        .media {
          margin: 0;

          img {
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: 3px solid rgba(224, 230, 237, 0.16);
          }

          .media-body {
            align-self: center;

            h5 {
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 3px;
            }

            p {
              font-size: 13px;
              font-weight: 500;
              margin-bottom: 0;
              color: $m-color_6;
            }
          }
        }
      }
    }

    .nav-link.user {
      padding: 6px 0;
      font-size: 25px;
    }
  }

  &.dropdown.user-profile-dropdown .nav-link:after {
    display: none;
  }

  &.user-profile-dropdown {
    .nav-link svg {
      color: $m-color_10;
      stroke-width: 1.5;
    }

    .dropdown-menu {
      &.show {
        top: 52px !important;
      }

      .dropdown-item {
        padding: 0;
        background: transparent;

        a {
          display: block;
          color: $dark;
          font-size: 13px;
          font-weight: 600;
          padding: 9px 14px;
        }

        &:hover a {
          color: $primary;
        }

        &.active, &:active {
          background-color: transparent;
        }

        svg {
          width: 17px;
          margin-right: 7px;
          height: 17px;
        }
      }
    }
  }
}