/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.h5, h5 {
  font-size: 1.25rem; }

.h4, h4 {
  font-size: 1.5rem; }

.h6, h6 {
  font-size: 1rem; }

.navbar-brand-privacy img {
  width: 62px;
  height: 62px; }

/*
    ======================
        Header Wrapper
    ======================
*/
#headerWrapper {
  padding: 30px 50px; }
  #headerWrapper .main-heading {
    color: #3b3f5c;
    margin: 0; }
    #headerWrapper .main-heading i {
      font-size: 50px;
      vertical-align: sub; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #headerWrapper:before {
    background-image: none; } }

/*
    ======================
        Privacy Wrapper
    ======================
*/
#privacyWrapper {
  padding: 80px 0; }
  #privacyWrapper .privacy-container {
    max-width: 815px;
    margin: 0 auto; }
  #privacyWrapper .privacyContent {
    padding: 30px 30px;
    background: #fff;
    margin-top: -60px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
    box-shadow: 2px 5px 17px 0 #1f2d3d1a; }
    #privacyWrapper .privacyContent .privacy-head {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e0e6ed; }
    #privacyWrapper .privacyContent .privacyHeader h1 {
      font-weight: 600; }
    #privacyWrapper .privacyContent .privacyHeader p {
      margin-bottom: 0;
      font-size: 16px; }
    #privacyWrapper .privacyContent .get-privacy-terms svg {
      margin-right: 12px; }
  #privacyWrapper .privacy-content-container section:not(:last-child) {
    margin-bottom: 45px; }
  #privacyWrapper .privacy-content-container h5 {
    margin-bottom: 24px; }
  #privacyWrapper h5 {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px; }
    #privacyWrapper h5.policy-info-ques {
      color: #666666;
      font-weight: 600; }

/*
    ==========================
        Mini Footer Wrapper
    ==========================
*/
#miniFooterWrapper {
  color: #fff;
  font-size: 14px;
  border-top: solid 1px #ffffff;
  padding: 14px;
  -webkit-box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0px -1px 20px 0 rgba(31, 45, 61, 0.1); }
  #miniFooterWrapper .arrow {
    background-color: #4361ee;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    #miniFooterWrapper .arrow p {
      align-self: center;
      margin-bottom: 0;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px; }
  #miniFooterWrapper .copyright a {
    color: #4361ee;
    font-weight: 700;
    text-decoration: none; }
