/*
    ==================
        Balance
    ==================
*/

.widget.widget-account-invoice-two {
  padding: 22px 19px;
  border: none;
  box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
  background: $dark;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-blend-mode: multiply;
}

.widget-account-invoice-two .account-box {
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
  }

  h5 {
    color: $m-color_3;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
  }

  .inv-balance-info {
    text-align: right;
  }

  p {
    color: $m-color_3;
    font-weight: 400;
    margin-bottom: 4px;
    align-self: center;
    font-size: 20px;
  }

  .inv-stats {
    display: inline-block;
    padding: 3px 5px;
    background: rgba(0, 150, 136, 0.26);
    color: $m-color_14;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
  }

  .acc-action {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;

    a {
      display: inline-block;
      padding: 6px;
      border-radius: 6px;
      color: $m-color_3;
      box-shadow: 0px 0px 2px 0px $m-color_4;

      &:first-child {
        margin-right: 4px;
      }

      svg {
        width: 17px;
        height: 17px;
        stroke-width: 1.7;
      }
    }
  }
}